@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import 'styles';
@import 'variables';

body {
    background-color: $britishGreen;
    @include default-font(35px);
    text-align: center;
    font-family: 'Bilbo', cursive;

}

.hide {
    display: none;
}
